<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div class="app">
        <div>
            {{greet("afternoon")}},everyone!
            My name is {{name}}.<br>
        </div>
        <div>
            3.v-bind<br>
            <a v-bind:href="website">百度一下</a><br>
            <a :href="website">简写百度一下</a> <br>
            <a href="javascript:">空的a标签</a>
        </div>
        <div>
            4.v-on This year is {{year}}<br>
            <button v-on:click="add(1)">Add a year</button>
            <button v-on:click="add(-1)">Subtract a year</button>
            <button v-on:click="add(10)">Add 10 years</button>
            <button v-on:click="add(-10)">Subtract 10 years</button>
            <div id="canvas" v-on:mousemove="updataXY">({{x}},{{y}})</div>
        </div>
        <div>
            5.事件修饰符<br>
            .stop 停止事件冒泡<br>
            .prevent 阻止事件的默认行为<br>
            .capture 添加事件监听器时使用事件捕获模式,即内部元素触发的事件先在此处理，
            然后才交由内部元素进行处理<br>
            .self 只当在 event.target 是当前元素自身时触发处理函数,即事件不是从内部元素触发的<br>
            .once 只触发一次<br>
            .passive .passive 修饰符尤其能够提升移动端的性能，不要把 .passive 和 .prevent 一起使用，因为 .prevent 将会被忽略，<br>
            同时浏览器可能会向你展示一个警告。请记住，.passive 会告诉浏览器你不想阻止事件的默认行为<br>
            按键修饰符<br>
            v-on:keyup.enter<br>
            v-on:keyup.page-down<br>
            为了在必要的情况下支持旧浏览器，Vue 提供了绝大多数常用的按键码的别名：<br>
            .enter .tab .delete (捕获“删除”和“退格”键)<br>
            .esc .space .up .down .left .right<br>
            系统修饰键(.ctrl .alt .shift .meta)<br>
            鼠标按钮修饰符(.left .right .middle)<br>
        </div>
        <div>
            v-model双向绑定<br>
            <input type="text" v-model="name"> {{name}}
        </div>
        <div>
            ref的使用 获取对应元素对象<br>
            <input type="text" ref="showVal" v-on:keyup.enter="showVal">
        </div>
        <div>
            watch的使用 监听新旧属性的变化<br>
            监听新旧x属性的变化 <input type="text" v-model="a">

        </div>
        <div>
            computed 变化频率高的使用计算属性，有利于性能优化<br>
            <button @click="b++">Add to B</button>
            <button @click="c++">Add to C</button>
            <p>B--{{b}}</p>
            <p>C--{{c}}</p>
            <p>Age+B={{addToB}}</p>
            <p>Age+C={{addToC}}</p>
            <h5>Dynamic CSS</h5>
            <h6>Example 2</h6>
            <button @click="nearby = !nearby">Toggle nearby</button>
            <button @click="available = !available">Toggle available</button>
            <div v-bind:class="compClasses">
                <span id="abc">Ryu</span>
            </div>
        </div>
        <div>
            v-if 和 v-show<br>
            v-if 能够控制元素的显示和隐藏（移出元素） template<br>
            v-if,v-else-if,v-else<br>
            v-show类似v-if<br>
            区别：1.v-if控制dom的移出、添加<br>
            v-show控制dom的显示与隐藏（display）<br>
            频繁的切换显示/隐藏时要使用v-show<br>
            只判断一次时，使用v-if<br>
            2.v-if可以写在template上，v-show不行
        </div>
        <div>
            v-for指令<br>
            1.数组<br>
            <ul>
                <li v-for="character in characters">{{ character }}</li>
            </ul>
            2.对象<br>
            <ul>
                <li v-for="(ninja, index) in ninjas">{{ index }} . {{ ninja.name }} - {{ ninja.age }}</li>
            </ul>
            Example<br>
            <!-- bag image -->
            <div id="bag" v-bind:class="{ burst: ended }"></div>

            <!-- bag health bar -->
            <div id="bag-health">
                <div v-bind:style="{ width: health + '%' }"></div>
            </div>

            <!-- game control buttons -->
            <div id="controls">
                <button v-on:click="punch" v-show="!ended">Punch</button>
                <button v-on:click="restart">Restart</button>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>